div {
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

.wrapper-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 0;
    line-height: 0.005;
    padding-top: 5px; /* Уменьшение верхнего отступа */
    padding-bottom: 5px; /* Уменьшение нижнего отступа */
}

.stat-wrraper {
    text-align: left;
}